// @keyframes fadeFromBottomBig {
//   from {
//     opacity: 0;
//     transform: translateY(10rem);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

@keyframes fadeFromBottom {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
