#navbar {
  @apply fixed z-10 flex w-full items-center justify-center bg-white/60 px-8 py-4 backdrop-blur-md transition-shadow
         duration-200 hover:shadow-lg lg:absolute lg:bg-inherit lg:py-6 lg:shadow-none lg:backdrop-blur-none 
         lg:transition-opacity lg:hover:shadow-none;

  #nav-links-container {
    @apply invisible flex h-0 flex-col items-end gap-2 opacity-0 duration-200 
           [transition:all_200ms,opacity_150ms,visibility_0ms_150ms] lg:h-auto 
           lg:flex-row lg:items-start lg:gap-8 lg:bg-inherit lg:opacity-100 lg:transition-none;

    .nav-link {
      @apply uppercase tracking-[0.2em] text-black/75 transition-colors
             hover:text-accent-orange/75 hover:duration-200 focus-visible:text-accent-orange/75 lg:visible
             lg:text-white/75 lg:hover:text-white/90 lg:focus-visible:text-white/90;

      &.active {
        @apply text-accent-orange lg:text-white;
      }
    }

    &.active {
      @apply visible mt-4 h-48 opacity-100 [transition:all_200ms,opacity_500ms_100ms,visibility_0ms_0ms] lg:mt-0 lg:h-auto;
    }
  }

  &.sleep {
    @apply transition-all duration-300;
  }

  &.scrolled-middle {
    @apply fixed py-4 px-8 shadow hover:shadow-lg lg:-mt-32 lg:bg-white/60 lg:opacity-0 lg:backdrop-blur-md;
  }

  &.scrolled-bottom {
    @apply mt-0 opacity-100;

    * {
      @apply text-black #{!important};
    }

    #nav-links-container {
      .nav-link {
        @apply hover:text-accent-orange/75 focus-visible:text-accent-orange/75 #{!important};

        &.active {
          @apply text-accent-orange #{!important};
        }
      }
    }
  }
}
